*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color: #434242;
    color: #1c1c1c;
}
.navbar{
    height: 50px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    background-color: #222222;
    color: #fff;
}
.navbar .logoimg{
    margin: 20px;
    height: 40px;
    width: 40px;
}
.navbar ul{

    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar ul li{
    margin: 20px;
    list-style: none;
}
.inputBox{
    height: 30px;
    width: 350px;
    border-radius: 12px;
}
.inputBox input{
    padding: 5px;
    height: 100%;
    width: 100%;
    border-radius: 8px;
}
.navbar ul li a{
    font-weight: 700;
    font-size: larger;
    color: #fff;
    text-decoration: none;
}
.navbar ul li a :hover{
    font-weight: 900;
   color: rgba(0, 0, 0, 0.5);
}
.sortproduct{
    height: 100px;
    width: 100%;
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
}
.imgcontainer{
    padding: 20px;
    height: 50vh;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.scrollimg{
    height: 40vh;
    width: 90%;
}

.productlist{
    padding: 20px;
    display: flex;
    overflow-x: scroll;
}
.productlist::-webkit-scrollbar{
    display: none;
}

.productbox{
    padding: 10px;
    margin: 20px;
    height: 300px;
    width: 100%;
    background-color: aliceblue;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    
}
.productbox .productinfo{
    width: 100%;
}
.productimg{
    background-size: cover;
    height: 75%;
    max-width: 100%;
}
.productbox .productinfo{
    width: 100%;
}
.productbox .productinfo button{
    margin-top: 10px;
    height: 30px;
    width: 100%;
    border: 1px solid black;
    border-radius: 12px;
    text-decoration: none;
    font-size:large;
}
.productbox .productinfo button:hover{
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
}